<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Directory Id="ExtrasDir" Name="bin">
        <Component Id="coreutilsComponent" Guid="*">
          <File Id="coreutilsFile" Name="coreutils.exe" Source="bin\\coreutils.exe" />
        </Component>
        <Component Id="doggoComponent" Guid="*">
          <File Id="doggoFile" Name="doggo.exe" Source="bin\\doggo.exe" />
        </Component>
        <Component Id="findComponent" Guid="*">
          <File Id="findFile" Name="find.exe" Source="bin\\find.exe" />
        </Component>
        <Component Id="hxComponent" Guid="*">
          <File Id="hxFile" Name="hx.exe" Source="bin\\hx.exe" />
        </Component>
        <Component Id="jqComponent" Guid="*">
          <File Id="jqFile" Name="jq.exe" Source="bin\\jq.exe" />
        </Component>
        <Component Id="rgComponent" Guid="*">
          <File Id="rgFile" Name="rg.exe" Source="bin\\rg.exe" />
        </Component>
        <Component Id="testingcommandlineComponent" Guid="*">
          <File Id="testingcommandlineFile" Name="testing-commandline.exe" Source="bin\\testing-commandline.exe" />
        </Component>
        <Component Id="wswComponent" Guid="*">
          <File Id="wswFile" Name="wsw.exe" Source="bin\\wsw.exe" />
        </Component>
        <Component Id="xargsComponent" Guid="*">
          <File Id="xargsFile" Name="xargs.exe" Source="bin\\xargs.exe" />
        </Component>
        <Component Id="yqComponent" Guid="*">
          <File Id="yqFile" Name="yq.exe" Source="bin\\yq.exe" />
        </Component>
      </Directory>
    </DirectoryRef>
    <ComponentGroup Id="ExtrasComponents">
      <ComponentRef Id="coreutilsComponent" />
      <ComponentRef Id="doggoComponent" />
      <ComponentRef Id="findComponent" />
      <ComponentRef Id="hxComponent" />
      <ComponentRef Id="jqComponent" />
      <ComponentRef Id="rgComponent" />
      <ComponentRef Id="testingcommandlineComponent" />
      <ComponentRef Id="wswComponent" />
      <ComponentRef Id="xargsComponent" />
      <ComponentRef Id="yqComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>

