<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="dirBD35FD5C001808C2DA6BDBD555B2851B" Name="bin" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ExtrasComponents">
            <Component Id="cmpCCAA67230EEB34B6EE062197BC016C59" Directory="dirBD35FD5C001808C2DA6BDBD555B2851B" Guid="{03F9930C-C3F2-4D72-9892-C2A9129A4158}">
                <File Id="fil92B2D3FEA37586793B495FD05BD6718A" KeyPath="yes" Source="assets\bin\coreutils.exe" />
            </Component>
            <Component Id="cmp5451921C0652ED7C442A6C39DB6E762E" Directory="dirBD35FD5C001808C2DA6BDBD555B2851B" Guid="{AFD9C494-670A-40AE-A74C-0BC28697BB9E}">
                <File Id="fil093CDFA42DC9135CB9480B4AD6824B43" KeyPath="yes" Source="assets\bin\doggo.exe" />
            </Component>
            <Component Id="cmp44462333E5531AD765FCEBB253404C36" Directory="dirBD35FD5C001808C2DA6BDBD555B2851B" Guid="{7A7306D5-62AD-4FCE-8782-956A1F059472}">
                <File Id="fil903792F30CB1104410F665A6FFD98C76" KeyPath="yes" Source="assets\bin\find.exe" />
            </Component>
            <Component Id="cmpC169882EC9BF3F307F67A36472B363B1" Directory="dirBD35FD5C001808C2DA6BDBD555B2851B" Guid="{E2CDEA94-022D-473A-ABD6-31B71EF4C47B}">
                <File Id="filF574DDB776C407AD90679A334ACEB395" KeyPath="yes" Source="assets\bin\hx.exe" />
            </Component>
            <Component Id="cmp87CA1184E87A9706BD8CC17332273C42" Directory="dirBD35FD5C001808C2DA6BDBD555B2851B" Guid="{750036E9-3AB0-4211-AB9E-2952DA823E2C}">
                <File Id="fil1666E8E8F2178BF28527590FAE8FFC52" KeyPath="yes" Source="assets\bin\jq.exe" />
            </Component>
            <Component Id="cmp6416DE16593B844FDF6004991A214C16" Directory="dirBD35FD5C001808C2DA6BDBD555B2851B" Guid="{78EC6AD7-989F-49D6-80F3-0F65A34F3C84}">
                <File Id="filC54C4FE27AC8B37765E504C122F1E108" KeyPath="yes" Source="assets\bin\rg.exe" />
            </Component>
            <Component Id="cmpD64A1A6A0926E1787DF389369061D3D5" Directory="dirBD35FD5C001808C2DA6BDBD555B2851B" Guid="{C95003CC-6D3C-4E40-9E00-09B236CEC627}">
                <File Id="fil20B02C112410F194BA1F7189AE906B8A" KeyPath="yes" Source="assets\bin\wsw.exe" />
            </Component>
            <Component Id="cmp87C9F90050C9B4864C033AC671306627" Directory="dirBD35FD5C001808C2DA6BDBD555B2851B" Guid="{61BB4BCE-62B1-40A9-BB03-134217F6CD4B}">
                <File Id="filFFF300E50689A1AB602F2B7E38F6E0CE" KeyPath="yes" Source="assets\bin\xargs.exe" />
            </Component>
            <Component Id="cmp5F0AF38A8457E86E505FF7CCB423F21F" Directory="dirBD35FD5C001808C2DA6BDBD555B2851B" Guid="{A0D0093B-ED39-453F-AAFE-A1001B51BD0B}">
                <File Id="fil69CB4420B778BE9840D1E0AE0F46E3E2" KeyPath="yes" Source="assets\bin\yq.exe" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
